/*
 * Copyright 2022 IBM Corp.
 * IBM Confidential Source Code Materials
 * This Source Code is subject to the license and security terms contained in the license/LICENSE file contained in this source code package.
 */
.content {
  display: flex;
  flex-direction: column;
  height: 100%;
  // padding: 0;
}

.children {
  flex: 1 1 auto;
  padding: 20px;
}

.error {
  padding-top: 3rem;
}
